@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v11/xMQ9uFFYT72X5wkB_18qmnndmSdSnx2BAfO5mnuyOo1l_iMwWa-xsaQ.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v11/xMQ9uFFYT72X5wkB_18qmnndmSdSnx2BAfO5mnuyOo1l_iMwV6-x.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v11/xMQ9uFFYT72X5wkB_18qmnndmSdSnx2BAfO5mnuyOo1l_iMwWa-xsaQ.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Sora";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/sora/v11/xMQ9uFFYT72X5wkB_18qmnndmSdSnx2BAfO5mnuyOo1l_iMwV6-x.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  margin: 0;
  min-width: 100vw;
  overflow-x: hidden;
  padding: 0;
}

p {
  font-weight: 300;
}

input {
  font-family: "Sora", sans-serif;
  font-size: 1em;
}

textarea {
  font-family: "Sora", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

button {
  box-sizing: border-box;
  cursor: pointer;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 32px;
  right: 24px;
  top: 16px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  margin-top: 16px;
  margin-right: 16px;
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  left: 0;
  width: 100vw !important;
}

/* General sidebar styles */
.bm-menu {
  background: linear-gradient(
    60deg,
    rgb(183, 58, 181) 0%,
    rgb(0, 71, 193) 100%
  );
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  width: 100vw;

  a {
    color: white;
  }
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  text-align: center;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 12px 0;
}

/* Styling of overlay */
.bm-overlay {
  background: linear-gradient(
    60deg,
    rgb(183, 58, 181) 0%,
    rgb(0, 71, 193) 100%
  ) !important;
  right: 0;
  top: 0;
}

.topbar--home {
  color: white;

  .topbar--logo {
    color: transparent;
    text-shadow: 0 0 0 white;
  }
}

.topbar--page {
  color: white !important;

  a {
    color: white;
  }

  a:hover {
    color: white !important;
    text-decoration: underline;
  }

  svg {
    fill: white;
  }

  .topbar--logo {
    color: transparent;
    text-shadow: 0 0 0 white;
  }
}
