@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant sm (@media (max-width: 640px));

@theme {
  --breakpoint-sm: initial;

  --color-brand: #31363b;
  --color-page: #f5f5f5;

  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
  --font-size-3xl: 3.5rem;
  --font-size-4xl: 7rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Sora", sans-serif;
  margin: 0;
  min-width: 100vw;
  overflow-x: hidden !important;
  padding: 0;
}

p {
  font-weight: 300;
}

input {
  font-family: "Sora", sans-serif;
  font-size: 1em;
}

textarea {
  font-family: "Sora", sans-serif;
}

strong {
  font-weight: 600;
}

button {
  box-sizing: border-box;
  cursor: pointer;
}

button,
input {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.md-img {
  max-width: 420px;
}
